 .con {
    margin:50px;
  border: 5px solid ;
  padding-top:10px;
  text-align: center;
}
.cont{
  height: 22rem;
  width: 17rem;
  border: 3px solid ;
  padding-top:10px;

}
.tab1{
  border: 1px black;
} 
.cube{
  margin-top: 5px;
  border: 1px solid;
  
}
.psd{
  padding: 20px;
  margin: 4px;
  margin-right: 5px;
  width: 51px;
  height: 62px;
}
.inpu{
  margin-left: 10px;
}
